<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <a class="site-subtitle" href="{{ site.baseurl }}/">{{ site.subtitle }}</a>
    <div class="links">
        <a href="https://www.instagram.com/fermented_rebellion/">instagram</a>
        <a href="https://github.com/stephanfowler">github</a>
        <a href="https://twitter.com/stephanfowler">twitter</a>
        <a href="http://uk.linkedin.com/in/stephanfowler/">linkedin</a>
        <!--a href="http://blog.stephanfowler.com/">blog</a-->
    </div>

  </div>

</header>
