<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <a class="site-subtitle" href="{{ site.baseurl }}/">{{ site.subtitle }}</a>
    <div class="links">
        <a href="/">home</a> &middot;
        <a href="http://uk.linkedin.com/in/stephanfowler/">linkedin</a> &middot;
        <a href="https://github.com/stephanfowler">github</a> &middot;
        <a href="https://twitter.com/stephanfowler">twitter</a> &middot;
        <a href="http://blog.stephanfowler.com/">blog</a>
    </div>

  </div>

</header>
